{% extends "partials/base-page-template.twig" %}
{% block content %}
    <div class="border-top"></div>

    <div class="time"  id="out-time">15:38:02</div>
    <div class="day"   id="out-day">saturday</div>
    <div class="date"  id="out-date">01.11.2020</div>
    <div class="debug" id="out-debug"></div>

    <div class="border-bot"></div>
    <script type="text/tiscript">
        var ( sx, sy, sw, sh ) = View.screenBox( 0, #workarea, #rectw );
        var w = 170;
        var h = 100;
        view.move( sx + (sw - w) / 2, sy + (sh - h) / 2, w,h, true );
        $(.page).on( 'dblclick', function(){ view.close(); } );
    </script>
{% endblock %}
