
$color-cyan:     rgba( 0, 255, 255, 1 );
$color-darkcyan: rgba( 0, 139, 139, 0.85 );

html, body
{
    display:    block;
    min-height: 100%;
    margin:     0;
    padding:    0;
    background: transparent;
}

body
{
    min-height:  100vh;
    max-width:   100%;
    overflow-x:  hidden;
    overflow-y:  auto;
}

.page
{
    @include size( 100vw, 100vh );
    @include pos-abs( 0, 0, 0, 0, 10 );

    flow:             vertical;
    transform-origin: 0 0;
    transition:       0.5s transform-origin ease-in-out;
    font:             normal 16px/120% Lekton;
    color:            $color-cyan;
    background-color: $color-darkcyan;
    text-align:       center;

    & div
    {
        line-height: 120%;
    }

} // .page

.time
{
    font-size: 28px;

} // .time

.day
{
    font-size:      28px;
    text-transform: uppercase;
    margin:         -15px 0 0;

} // .day

.date
{
    font-size: 24px;
    margin:    -15px 0 0;

} // .date

.debug
{
    font-size: 24px;

} // .debug

@mixin frame-border
{
    @include size( 100vw, 4px );
    @include pos-abs( 0, 0, 0, null, 0 );

    background-color: $color-cyan;
    transform-origin: 50% 50%;

    &::before
    {
        @include size( 4px, 16px );
        @include pos-abs( 0, 0, null, null, 0 );

        content:          '';
        display:          block;
        background-color: $color-cyan;
    }

    &::after
    {
        @include size( 4px, 16px );
        @include pos-abs( null, 0, 0, null, 0 );

        content:          '';
        display:          block;
        background-color: $color-cyan;
    }

} // @mixin frame-border

.border-top
{
    @include frame-border;

} // .border-top

.border-bot
{
    @include frame-border;
    @include pos-abs( 0, auto, 0, 0, 0 );

    transform: rotate( 180deg );

} // .border-bot
