<!doctype html>
<html window-frame="transparent" window-resizable="false">
<head>
<title>TEST</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
<link type="text/css" rel="stylesheet" href="css/main.css" >
<script type="text/javascript" src="scripts/main.js"></script>
</head>
<body>
    <div class="page">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
